<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <div class="left-header">
            <a href="/">
                <img class="logo" src="../static/images/node.js-logo.png" alt="home-page">
            </a>
            
            <p><b>Node js - Express</b></p>
        </div>
        <div class="right-header">
            <ul>
                <li><a href="/" class="right-header-text" title="Homepage">Homepage</a></li>
                <li><a href = "/users" class="right-header-text" title="User">User</a></li>
                <li><a href="/products" class="right-header-text" title="Product">Product</a></li>
            </ul>  
        </div>
    </header>
    <div class="banner">
        <p>ERROR</p>
    </div>
    <div class="body">     
        <img class="error-image" src="../static/images/error.jpg" alt="404 error">
    </div>  
    <div class="footer">
        <p class="fade-p">Copyright 2020. All rights reserved.</p>
    </div>
</body>
</html>